# ==========================
# Deploy environment (RDS)
# ==========================

# Backend app
APP_NAME=Proxmox Cluster Dashboard
APP_VERSION=1.0.0
DEBUG=false
HOST=0.0.0.0
PORT=8000
SECRET_KEY=change-this-in-production
PROXMOX_VERIFY_SSL=false

# PostgreSQL AWS RDS
DB_HOST=syam-proxmox-dashboard-vmdtp.c9nj1x2p6gk5.eu-west-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=proxmox
DB_PASSWORD=Vmware1!
DB_SSLMODE=verify-full
DB_SSLROOTCERT=/app/global-bundle.pem

# Proxmox auth
PROXMOX_USER=root@pam
PROXMOX_PASSWORD=your_password_here
PROXMOX_TOKEN_NAME=
PROXMOX_TOKEN_VALUE=

# Frontend/backend images on separate ECR repositories
FRONTEND_IMAGE=240595528763.dkr.ecr.eu-west-1.amazonaws.com/syam-venturuzzo/frontend:latest
BACKEND_IMAGE=240595528763.dkr.ecr.eu-west-1.amazonaws.com/syam-venturuzzo/backend:latest
