fastapi==0.115.5
uvicorn[standard]==0.32.1
requests==2.32.3
proxmoxer==2.2.0
pydantic==2.10.3
pydantic-settings==2.6.1
paramiko==3.5.0
bcrypt==4.2.1
PyJWT==2.9.0
slowapi==0.1.9
psycopg2-binary==2.9.9
boto3==1.35.95